@model ddd_octopus.web.Models.HomeViewModel

@{
    ViewBag.Title = "DDD Octopus Sample (ChesterDevs Edition)";
}

<h2>DDD Octopus Sample (ChesterDevs Edition)</h2>

<p>Running on @Model.MachineName - @Model.MyCustomSetting</p>
<p>Release @Model.OctopusReleaseNumber - DeploymentID @Model.OctopusDeploymentId</p>

<h4>Links</h4>

<ul>
    <li><a href="http://www.octopusdeploy.com">Octopus Deploy</a></li>
</ul>