@{
    ViewBag.Title = "DDD Octopus Sample";
}

<h2>DDD Octopus Sample</h2>

<p>Running on @Environment.MachineName</p>

<h4>Links</h4>

<ul>
    <li><a href="http://www.octopusdeploy.com">Octopus Deploy</a></li>
</ul>